@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Minecraftia;
    src: url(assets/Minecraftia-Regular.ttf);
}

* {
    font-family: Minecraftia, sans-serif;
    @apply text-white;
}

.bg-main {
    background-position: center;
    background-image: url(./assets/background-main.webp);
}