@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Minecraftia;
    src: url(assets/Minecraftia-Regular.ttf);
}

@font-face {
    font-family: Minecraft;
    src: url(assets/Minecraftia-Regular.ttf);
}

* {
    font-family: Minecraftia, sans-serif;
}

.bg-main-light {
    background-position: center;
    background-image: url(./assets/background-main-light.png);
}

.bg-main-dark {
    background-position: center;
    background-image: url(./assets/background-main-dark.webp);
}

.bg-creators {
    background-position: center;
    background-image: url(./assets/background-creators.jpg);
}