@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Minecraftia;
    src: url(assets/Minecraftia-Regular.ttf);
}

* {
    font-family: Minecraftia, sans-serif;
}


.bg-banu {
    background-image: url(./assets/background-banu.gif);
}